src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:janrain="http://www.mulesoft.org/schema/mule/janrain"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/janrain http://www.mulesoft.org/schema/mule/janrain/2.0/mule-janrain.xsd">
	
	<context:property-placeholder location="automation-credentials.properties" />
	
	<janrain:config name="janrain_config" apiKey="${janrain.apikey}" appName="${janrain.appname}" appId="${janrain.appid}">
		<janrain:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW" />
	</janrain:config>
	
	<flow name="get-app-settings">
		<janrain:get-app-settings config-ref="janrain_config"  doc:name="Janrain"/>
	</flow>
	
	<flow name="add-client">
		<janrain:add-client config-ref="janrain_config"  doc:name="Janrain" client_id="#[payload.client_id]" client_secret="#[payload.client_secret]" description="#[payload.description]"  features="#[payload.features]"/>
	</flow>
	
	<flow name="providers">
		<janrain:providers config-ref="janrain_config"  doc:name="Janrain" />
	</flow>
	
	<flow name="analytics-access">
		<janrain:analytics-access config-ref="janrain_config"  doc:name="Janrain" end="#[payload.date_end]" start="#[payload.date_start]" />
	</flow>
</mule>